In [1]:
print('============== conversation between daughter and mom ==================')
input('Daughter: ')
input('Mom: ')
input('Daughter: ')
input('Mom: ')
input('Daughter: ')
input('Mom: ')
print('================ reached to bus stop===========================')
input('conductor: ')
input('Mom: ')
input('Conductor')
input('Mom: ')
input('Conductor:')
distance=eval(input('Mom: '))
charge=eval(input('Conductor: per k/m is: '))
total=distance*charge
print(f'Mom: give to conductor {total}')

============== conversation between daughter and mom ==================
Daughter: heyy mom
Mom: yess betaa
Daughter: did you know the from today the govt providing free buses
Mom: oh! nice
Daughter: shell we go to grand mother's home
Mom: kk
================ reached to bus stop===========================
conductor: show me your id card
Mom: we are not carry any id cards
Conductorthen pay the money
Mom: how much?
Conductor:how many k/m you travel
Mom: 25
Conductor: per k/m is: 2
Mom: give to conductor 50

In [2]:
print('================= conversation between Pinky and Akki================')
print('Akki: order the food ')
print('Pinky: order any thing  ')
print('Akki: two biriyanu and two cool drink')
print('===================== aftter the bill will came=====================')
print('Pinky: how much the bill')
bill=eval(input('akki: '))
bills=eval(input('Pinky: i have thirty percent amount :'))
pinky_amount=1000/100*30
print(f'pinky: give the amount is {pinky_amount}')
akki_amount=bill-pinky_amount
print(f'akki: wants to add more{akki_amount}')
total_bill=pinky_amount+akki_amount
print(f'Akki: add the pinky amount his amount and paid the bill : {total_bill}')

================= conversation between Pinky and Akki================
Akki: order the food
Pinky: order any thing
Akki: two biriyanu and two cool drink
===================== aftter the bill will came=====================
Pinky: how much the bill
akki: 1000
Pinky: i have thirty percent amount :30
pinky: give the amount is 300.0
akki: wants to add more700.0
Akki: add the pinky amount his amount and paid the bill : 1000.0

In [4]:
45/4 # it is normal devision

11.25

In [6]:
45%4 # it will get the reminder

1

In [8]:
45//4 # it will get the quotient

11

In [ ]:
# conduction operation
# if- else

### if

In [9]:
145>34

True

In [10]:
67<32

False

In [ ]:
# when ever it is true do someting
# if it is false then then do someting

In [12]:
name='janu'
if name=='janu':
    print( 'hyy janu')
    print('can we go to movie')

hyy janu
can we go to movie

In [13]:
name='number'
if True:
    a=10
    b=50
    c=a+b
    print(f' add the {a}, and {b}, is {c}')

 add the 10, and 50, is 60

In [15]:
if False:
    a=10

In [ ]:
# in if it will false then the program will run but we not get any out put

## if-else

In [14]:
name='number'
if False:
    a=10
    b=50
    c=a+b
    print(f' add the {a}, and {b}, is {c}')
else:
    a=100
    b=50
    c=a/b
    print(f' dividing {a}, and {b}, is {c}')

 dividing 100, and 50, is 2.0

In [ ]:
# suppose if will get false the it will go direct to else
# then it will comes else out put

In [24]:
print(1)
print(2)
if True:
    print('number1')
    print('number2')
print('number3')

1
2
number1
number2
number3

In [20]:
print(1)
print(2)
if False:
    print('number1')
    print('number2')
print('number3')

1
2
number3

In [ ]:
# if there IndentationError there space is missing
# for that you can use tab button once 
# are press the back button untel the will change red to green